<div>
	<div class="col-xs-1"><!-- Centering -->
	</div>
	<div class="col-xs-10" ng-controller="AdminController as admin">
		<div class="container" ng-controller="CalendarController as calendar">
			<h3>Room Bookings</h3>
			<div class="calendar-header" >
				<div class="previous">
					<button type="button" class="btn btn-default" ng-click="calendar.prevDay()">
						Previous Day
					</button>
				</div>
					Day of {{ calendar.currentDay().toDateString() }}
				<div class="next">
					<button type="button" class="btn btn-default" ng-click="calendar.nextDay()">
						Next Day
					</button>
				</div>
			</div>
			<div class="bookingsTable">
				<table class="table table-striped">
					<thead>
						<tr class="center">
							<th>Rooms</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
						</tr>
					</thead>
					<tbody class="center">
						<tr ng-repeat="i in [8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]">

							<th ng-if="i < 12">{{ i }}:00 AM</td>
                            <th ng-if="i == 12">{{ i }}:00 PM</td>
                            <th ng-if="i > 12">{{ i - 12}}:00 PM</td>
							<td><button type="button" ng-class="admin.isABooking(1, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(1, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(2, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(2, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(3, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(3, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(4, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(4, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(5, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(5, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(6, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(6, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(7, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(7, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(8, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(8, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(9, i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(9, i)"> <br> </button></td>
							<td><button type="button" ng-class="admin.isABooking(10,i) ? 'btn-booked' : ''" class="btn btn-default" ng-click="admin.getBooking(10,i)"> <br> </button></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="container">
			<div class="showBooking">
				<h3>Edit Booking</h3>
			</div>
			<div class="bookingEditor">
				<table class="table table-striped">
					<thead>
						<tr class="calendar-header">
							<th>USER</th>
							<th>START TIME</th>
							<th>END TIME</th>
							<th>ROOM</th>
							<th>EQUIPMENT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ admin.selectedBooking.user.username }}
							</td>
							<td>
								{{ admin.selectedBooking.startTime }}
							</td>
							<td>
								{{ admin.selectedBooking.endTime }}
							</td>
							<td>
								{{ admin.selectedBooking.room }}
							</td>
							<td>
								{{ admin.selectedBooking.equipment }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-1">
	</div>
</div>