<div>
	<div class="col-xs-1"><!-- Centering -->
	</div>
    <div class="col-xs-10">
		<div class="container">
			<h3>Room Bookings</h3>
            <div class="calendar-header">
                <div class="previous">
                    <button type="button" class="btn btn-default">Previous Day</button>
                </div>
                    Day of {{ calendar.dayStart().toDateString() }} - {{ calendar.dayEnd().toDateString() }}
                <div class="next">
                    <button type="button" class="btn btn-default">Next Day</button>
                </div>
            </div> 
			<div class="bookingsTable">
				<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Room</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>

		<div class="container">
			<div class="showBooking">

			</div>
		</div>
	</div>
	<div class="col-xs-1">
	</div>
</div>