<div>
	<div class="col-xs-1"><!-- Centering -->
	</div>
    <div class="col-xs-10">
		<div class="container" ng-controller="CalendarController as calendar">
			<h3>Room Bookings</h3>
            <div class="calendar-header">
                <div class="previous">
                    <button type="button" class="btn btn-default" ng-click="calendar.prevDay()">
                        Previous Day
                    </button>
                </div>
                    Day of {{ calendar.currentDay() }}
                <div class="next">
                    <button type="button" class="btn btn-default" ng-click="calendar.nextDay()">
                        Next Day
                    </button>
                </div>
            </div> 
			<div class="bookingsTable">
				<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>8:00am</th>
                            <th>9:00am</th>
                            <th>10:00am</th>
                            <th>11:00am</th>
                            <th>12:00pm</th>
                            <th>1:00pm</th>
                            <th>2:00pm</th>
                            <th>3:00pm</th>
                            <th>4:00pm</th>
                            <th>5:00pm</th>
                            <th>6:00pm</th>
                            <th>7:00pm</th>
                            <th>8:00pm</th>
                            <th>9:00pm</th>
                            <th>10:00pm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                            <td>
                                {{ i }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="">
                                   {{ calendar.isABooking(i, calendar.setToHour(8, calendar.currentDay()) }}
                                </button>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>

		<div class="container">
			<div class="showBooking">
                <h3>Edit Booking</h3>
			</div>
            <div class="bookingEditor">
                <table>
                    <thead>
                        USER: [  ]
                    <thead>
                    <tbody>
                        <tr>
                            <td>
                                DAY: [  ]   
                            </td>
                            <td>
                                TIME: [  ]
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ROOM: [  ]
                            </td> 
                            <td>
                                EQUIPMENT: [  ]
                            </td> 
                        </tr>                            
                    </tbody>    
                </table>
            </div>
		</div>
	</div>
	<div class="col-xs-1">
	</div>
</div>