<div class="row">
    <div class="col-xs-5">
    </div>
    <div class="col-xs-2">
        <form ng-submit="login.doLogin()" id="fm1" name="credentials" class="fm-v clearfix uniForm">
        <div class="box" id="login">
            <fieldset class="row">
                <span class="row">
                    <label for="username">NetLink ID:</label>
                    <input id="username" name="username" target="text" class="required" tabindex="1" type="text" autocomplete="false" ng-model="login.loginData.username">
                </span>
                <span class="row ">
                    <label for="password">Password:</label>
                    <input id="password" name="password" class="required" tabindex="2" type="password" autocomplete="false" ng-model="login.loginData.password" value="">
                </span>
                <span>
                    <input type="hidden" name="userType" value="admin" ng-model="login.loginData.userType">
                </span>
            </fieldset>
            <div class="buttonHolder btn-group">
                <input type="hidden" name="lt" value="e3s1">
                <input type="hidden" name="_eventId" value="submit">
                <input class="btn-submit" name="submit" accesskey="l" value="Sign in" tabindex="4" type="submit">
            </div>
            <div class="alert alert-danger" ng-if="login.error">
                {{ login.error }}
            </div>
        </div>
        </form>
    </div>
    <div class="col-xs-5">
    </div>
</div>