<div class="calendar">
    <div class="row">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-10">
            <div class="jumbotron">
                A Calendar View Will Be Seen Here
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
</div>

<div class="activeBooking">
    <div class="row">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-10">
            <div class="jumbotron">
                An Active Booking Will Be Seen Here
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create a Booking</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a Date to Book</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Day
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Today</a></li>
                        <li><a href="#">Tomorrow</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">14 days from now</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        
    </div>
</div>