<div class="calendar">
    <div class="row">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-10">
            <div class="container">
                <h2>Rooms Available</h2>
                <div class="calendar-header">
                    <div class="previous">
                        <button type="button" class="btn btn-default">Previous Week</button>
                    </div>
                        {{ date }}
                    <div class="next">
                        <button type="button" class="btn btn-default">Next Week</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                        </tr>
                    </tbody>
                </table>                           
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
</div>

<div class="activeBooking">
    <div class="row">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-10">
            <div class="jumbotron">
                An Active Booking Will Be Seen Here
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
</div>