<!-- Calendar section -->
<div class="calendar">
    <div class="row">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-10">
            <div class="container">
                <h2>Rooms Available</h2>
                <div class="calendar-header">
                    <div class="previous">
                        <button type="button" class="btn btn-default">Previous Week</button>
                    </div>
                    {{ date }}
                    <div class="next">
                        <button type="button" class="btn btn-default">Next Week</button>
                    </div>
                </div>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hello</td>
                        </tr>
                        <tr>
                            <td>Hello</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
</div>

<!-- Active Bookings Section -->
<div class="activeBooking">
    <div class="row">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-10">
            <div class="jumbotron">
                An Active Booking Will Be Seen Here
            </div>
        </div>
        <div class="col-xs-1">
            
        </div>
    </div>
</div>

<!-- Create Booking Button -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#selectDayModal">Create a Booking</button>

<!-- Select Day Modal -->
<div id="selectDayModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a Date to Book</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Day
                        <span class="caret"></span>
                    </button>
                    
                    <!-- We should generate the dropdown items with a script.
                     These values are simply placeholders.-->
                    <ul class="dropdown-menu">
                        <li><a href="#">Today</a></li>
                        <li><a href="#">Tomorrow</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">14 days from now</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#selectTimeModal" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Select Time Modal -->
<div id="selectTimeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div style="overflow-x:hidden"; class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a Date to Book</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h2>Make Booking</h2>
                    
                    <div style="width:400px;height:300px;overflow:scroll;">
                        <table id="thetable" class="table table-bordered table-hover" >
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Availability</th>
                                </tr>
                            </thead>
                            <div>
                                <tbody>
                                    <!-- These rows will need to be generated with a script.
                                     These values are simply placeholders. -->
                                    <tr>
                                        <td>8:00am-9:00am</td>
                                        <td>Y/N</td>
                                    </tr>
                                    <tr>
                                        <td>9:00am-10:00am</td>
                                        <td>Y/N</td>
                                    </tr>
                                    <tr>
                                        <td>...</td>
                                        <td>Y/N</td>
                                    </tr>
                                    <tr>
                                        <td>9:00pm-10:00pm</td>
                                        <td>Y/N</td>
                                    </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        
    </div>
</div>